[submodule "oss/linux"]
	path = oss/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
	ignore = dirty
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
	ignore = dirty
